*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size : 100px;
    --mark-size : calc(var(--cell-size) * 0.9);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template: repeat(3, auto) / repeat(3, auto) ;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px black solid;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;   
}

.cell:nth-child(3n + 1){
    border-left: none;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(n + 7){
    border-bottom: none;
}
